<!doctype html>
<html lang="en-US">

<head>
    <script src="{{ url_for('static', filename='behavior.js')}}">
    </script>.
    <meta charset="utf-8">
    <title> NGORONGO </title>
    <link href="{{ url_for('static', filename='css/STYLES.css') }}" rel="stylesheet">
    <meta name="viewport" content="width=device-width, intial-scale= 1.0">
</head>

<body>
    <class="works_on_smartphone" </class>
        <main>
            <article>
                <h1>Who am I?</h1>
                <p>
                    My name is Eliud Ngorongo Njenga a financial and risk analyst from Nairobi Kenya.</p>
                <p>
                    When I finished high school I didnt really know what career path to take (something most of you can relate I am sure) sow I went with the most prestigious course I knew:Actuarial Science. I was fairly good in math but my real passion was computers.Most
                    of my time in campus was spent in the computer lap albiet just to download movies.</p>
                <p>After graduating I didnt get employment at any Actuarial related firm and I slowly lost all hope of ever working in the actuarial field. This whole time my itch for computers was still there and I decided to try and teach myself some form
                    of code with help from my brother. I wasnt really committed to it until he sent me the ALX application and I realised what an amazing opportunity this could be. </p>
                <br>
                <h2> MY MISSION </h2>
                <p>
                    Growing up I was exposed to the world of transport by my parents business. They expereinced alot of challenges from sourcing lorries to the reapir and maintenance of the same I developed a keen interest for logistics as well as travel and I would like
                    to enhance reliability and access to this industry and I believe technology is at the helm of this solution.
                </p>
                <h3>MY VISION</h3>
                <p>
                    My personal vision is to have a life of meaning for myself and others. It is important for me to live my life in a way that shows kindness, care, and concern for family and friends and even strangers.</p>
                <p>
                    Earning respect for myself based on recognition of my accomplishments and abilities, maintains a sense of appreciation of the beauty of nature, and a sense of humor.</p>
                <p>As my namesake said proved:</p>
                <img src="https://static.independent.co.uk/s3fs-public/thumbnails/image/2019/10/12/09/2019-10-12T084905Z-2102787179-RC186906EA00-RTRMADP-3-ATHLETICS-KIPCHOGE.JPG?width=1200" class="small" id="smart_thumbnail" alt="Eliud Ngorongo's photo">
                <p>Below is an image with a link to the ALX website:</p>
                <a href="https://alx-apply.hbtn.io"><img src="https://alx-apply.hbtn.io/brand_alx/alx-logo.png" style="width:100px;height:100px;"></a>
            </article>
            <aside>
                <p>
                    <div id="disqus_thread"></div>
                    <script>
                        /**
                         *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
                         *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables    */
                        /*
                        var disqus_config = function () {
                        this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
                        this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
                        };
                        */
                        (function() { // DON'T EDIT BELOW THIS LINE
                            var d = document,
                                s = d.createElement('script');
                            s.src = 'https://http-44-192-73-82.disqus.com/embed.js';
                            s.setAttribute('data-timestamp', +new Date());
                            (d.head || d.body).appendChild(s);
                        })();
                    </script>
                    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript></p>
            </aside>
        </main>
        <footer>Built with <span>❤</span> by Eliud Ngorongo </footer>

</body>

</html>